/* Navbar */
nav {
    position: sticky;
    top: 1px;
    background-color: white;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    border-bottom: 0.2rem solid;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
}
ul > div :active {
    color: lightgreen ;
}

ul > div :hover {
    cursor: pointer;
}

/* Home */
.Banner {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 1rem;
    color: white;
    font-size: 0.8rem;
}
.mainBanner {
    grid-column: 1   / 2;
    grid-row: 1 / 3;
    background-image: url("https://images.pexels.com/photos/1172064/pexels-photo-1172064.jpeg?auto=compress&cs=tinysrgb&w=1600");
    height: 20rem;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.sideBanner1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url("https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.sideBanner2 {
    background-color: yellow;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url("https://images.pexels.com/photos/14284862/pexels-photo-14284862.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    display: flex;
    justify-content: start;
    align-items: flex-end;
}



.latestContainer {
    margin: 1rem 7rem 1rem 7rem;
}

/* LatestCard */
.imgDiv {
    width: 100%;
    height: 10rem;
    background-image: url("https://images.pexels.com/photos/14284862/pexels-photo-14284862.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.cardContainer {
    width: 100%;
    margin: 2rem;
    text-align: center;
    width : "75%"
}

/* Blog page  */
.blogImg {
    background-size: cover;
    width: 100%;
    height: 30rem;
}


.blogContent {
   margin: 4rem;
}

.latestContainerflex {
    display: flex;
}

@media (min-width: 0px) and (max-width:600px) {
    .latestContainerflex {
        display: block;
    }
    .sideBanner1 {
        display: none;
    }
    .sideBanner2 {
        display: none;
    }
    .mainBanner {
        grid-column: 1   / 3;
        width: 44rem;
    }
    .adSection {
        display: none;
    }
    nav {
        width: 44rem;
    }
}

